title: 個人的やる夫まとめ
description: > # this means to ignore newlines until "baseurl:"
    自分で書いたスレを主にまとめます
baseurl: "yaruo-blog" # the subpath of your site, e.g. /blog
url: http://duct-and-rice.github.io
twitter_username: wakeari_rosen

# Build settings
markdown: kramdown
theme: jekyll-whiteglass
plugins:
    - jekyll-archives
    - jekyll-paginate
    - jekyll-sitemap
permalink: /:year/:month/:day/:title/
paginate_path: /posts/:num/
paginate: 5
excerpt_separator: ""

jekyll-archives:
    enabled:
        - categories
    layout: category_archives
    permalinks:
        category: /categories/:name/

plugins:
    - jekyll-feed
