title: 個人的やる夫まとめ
description: > # this means to ignore newlines until "baseurl:"
    自分で書いたスレを主にまとめます
baseurl: "yaruo-blog" # the subpath of your site, e.g. /blog
url: https://duct-and-rice.github.io
lang: ja
twitter_username: wakeari_rosen
author: Duct-and-rice

# Build settings
markdown: kramdown
theme: jekyll-whiteglass
plugins:
    - jekyll-archives
    - jekyll-paginate
    - jekyll-seo-tag
    - jekyll-sitemap
    - jekyll-inline-svg
    - jekyll-feed
permalink: /:year/:month/:day/:title/
paginate_path: /posts/:num/
paginate: 5
excerpt_separator: ""

jekyll-archives:
    enabled:
        - categories
    layout: category_archives
    permalinks:
        category: /categories/:name/

compress_html:
    clippings: all
    comments:  ["<!-- ", " -->"]
    endings:   all
    compress_javascript: false

include: ["_headers", "_redirects"]
