---
layout: default
---
<div class="home">

  <h1 class="page-heading">人様のやる夫スレ</h1>

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <ul class="post-archives">
    {% for story in site.data.navigation.menu[1].stories %}
      <li>
        <span class="post-meta">{{ story.description }}</span>
        <h2>
            <a class="post-link" href="/categories/{{ story.category }}"{% if lang != empty %} lang="{{ lang }}"{% endif %}>{{ story.title }} </a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
