<header class="site-header">

    <div class="wrapper">

        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        <nav class="site-nav">
            {% for link in site.data.navigation.main %}
            {% if link.url contains "http" %}
            {% assign url = link.url %}
            {% else %}
            {% assign url = link.url | relative_url %}
            {% endif %}
            <a class="page-link" href="{{ url }}" >{{ link.title }}</a>
            {% endfor %}
            {% for menu in site.data.navigation.menu %}
            {% if menu.url contains "http" %}
            {% assign url = menu.url %}
            {% else %}
            {% assign url = menu.url | relative_url %}
            {% endif %}
            <div class="menu">
                <a class="page-link menu-init" href="{{ url }}" >{{ menu.title }}</a>
                <ul class="menu-second">
                    {% for story in menu.stories %}
                    <li>
                        <a href="/{{ site.baseurl }}/categories/{{ story.category }}">
                        {{story.title}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </nav>

    </div>

</header>
