---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: Bitter, "Apple SD Gothic Neo", AppleGothic, NanumBarunGothic, "Malgun Gothic", Dotum, sans-serif;
$monospace-font-family: Monaco, Menlo, Consolas, "Courier New", DotumChe, monospace;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2568ba;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

* {
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}


// whiteglass also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.aa {
    font-family: Stmr, 'MS PGothic'; 
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 18px;
    text-shadow: none;
    color: rgb(0, 0, 0);

    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    word-break: break-all;
    white-space: nowrap;

    display: block;

    margin: 20px 0 !important;
    overflow: auto;
    white-space: nowrap;
}

.post-head {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    box-pack:justify;
    -webkit-box-pack:justify;
    -moz-box-pack:justify;
}

.post-meta {
}



.post-share{
    text-align: right;
    list-style: none;
    padding: 0;
    a {
        background: $grey-color-dark;
        display: inline-block;
        line-height: 1rem;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        padding: 5px;
        text-decoration: none;
        color: $grey-color-light;

        transition: .3s;
        &:hover, &:visited{
            color: $grey-color-light;
            text-decoration: none;
        }
        &:hover{
            -ms-transform: translateY(4px);
            -webkit-transform: translateY(4px);
            transform: translateY(4px);
        }
        &.twitter {
            background: #55ACEE;
        }
        &.facebook {
            background: #3B5998;
        }
        &.google {
            background: #DD4B39;
        }
        &.hatenabookmark {
            background: #008FDE;
        }
    }

    .sr-only{
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }
}

.lsf, .lsf-icon:before {
    font-family: 'LigatureSymbols';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.lsf-icon:before {
    content:attr(title);
    margin-right:0.3em;
    font-size:130%;
}
// Import partials from the `whiteglass` theme.
@import "whiteglass";
@import "../css/fonts.css";
