---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% if page.external-url %}
      <h1 class="post-title" itemprop="name headline"><a href="{{ page.external-url }}">{{ page.title | escape }} &rarr;</a></h1>
    {% else %}
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% endif %}
    <div class="post-head">
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%b %-d, %Y" }}
            </time>
            {% if page.author %} • 
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">
                    {{ page.author }}
                </span>
            </span>
            {% endif %}
            {% if page.categories != empty %} • {% include category_links.html categories=page.categories %}{% endif %}
        </p>
        <p class="post-share">
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}/{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" class="lsf twitter">
                    twitter
                </a>
                <a href="https://facebook.com/sharer.php?u={{ site.url }}/{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" class="lsf facebook">
                    facebook
                </a>
                <a href="https://plus.google.com/share?url={{ site.url }}/{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" class="lsf google">
                    google
                </a>
                <a href="http://b.hatena.ne.jp/entry/{{ site.url }}/{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" class="lsf hatenabookmark">
                    hatenabookmark
                </a>
        </p>
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
      {{ content }}
  </div>

</article>
